body {
  background-color: rgb(247, 224, 228);
}
h1 {

    color:black; 
    font-family: 'Courier New'; 
    font-size: 300%;
    text-align: center;
}

img {
  float: right;

}


p {
  color: black;
  font-family: 'Trebuchet MS';
  font-size: 33px;
  text-align: left;
}



